
  
  .react-datepicker__header {
    background-color: #9145B6;
    border-bottom: 1px solid #632284;
    color: #ffffff;
  }
  
  .react-datepicker__current-month {
    color: #ffffff;
  }
  
  .react-datepicker__day-name, .react-datepicker__day {
    color: #111;
  }
  
  /* Targeting day abbreviations */
  .react-datepicker__day-name {
    color: #fff;
    font-weight: bold;  /* Making it bold as an example; adjust as needed */
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--selected:hover {
    background-color: #9044b6;
    color: #ffffff;
  }
  
  .react-datepicker__day--in-range, 
  .react-datepicker__day--in-selecting-range, 
  .react-datepicker__day--in-range:hover, 
  .react-datepicker__day--in-selecting-range:hover {
    background-color: #3f1a52;
  }
  
  .react-datepicker__day--disabled {
    color: #95a5a6;
  }
  
  .react-datepicker__navigation {
    background-color: transparent;
    border: none;
  }
  
  .react-datepicker__navigation--previous {
    left: 10px;
    border-right-color: #111;
  }
  
  .react-datepicker__navigation--next {
    right: 10px;
    border-left-color: #111;
  }
  
  .react-datepicker__time-list-item--selected {
    background-color: #9145B6;
  }
  
  .react-datepicker__time-list {
    background-color: #622a80;
  }
  
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 100%;
  }
  
  .react-datepicker-wrapper, .react-datepicker__input-container, .react-datepicker__input {
    width: 100%;
  }
  
  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
  .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
    border-bottom-color: #541773 !important;
    border-top-color: #401256 !important;
  }
  
  .react-datepicker__time-list::-webkit-scrollbar {
    display: none;
  }
  
  .react-datepicker__time-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .react-datepicker__time-list-item {
    color: #ffffff;
  }
  
  /* Adjusting hover style for TIME list items */
  .react-datepicker__time-list-item:hover {
    background-color: #431958 !important; 
    color: #ffffff !important;
  }
  
  .react-datepicker__time-list-item--selected {
    background-color: #9145B6 !important;
    color: #ffffff !important;
  }
  
  /* Ensuring the "Time" heading is white */
  .react-datepicker-time__header {
    color: #ffffff;
  }
  
  .myDatepicker .react-datepicker__input-container input {
    text-align: center !important;
    color: #9145B6 !important;
  }