
.headerContainer{
    padding-top: 1.1rem;
    width: 100%;
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    align-items: center;
    justify-content:space-between;
    user-select: none;
    background-color: #1E1E1E;
}

.companyName{
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.logoutButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    min-width: 9rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    background-color: #1E1E1E;
    color: #9145B6;
    transition: all 300ms ease-in-out;
    border: 2px solid #9145B6;
}

.logoutButton:hover{
    background-color: #9145B6;
    color: #fff;
}