/* Table Styles */
.tableWrapperContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1E1E1E;
  user-select: none !important;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.tableContainer{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #313131;
  border-radius: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table {
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
}

.table tr {
  border-top: 1px solid #7777770d;
}

.table th,
.table td {
  padding: 8px 12px;
  text-align: left;
  color: #ccc;
  font-size: 1.2rem;
}

.table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

.table th {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.table td > a{
  width: 14%;
  color: #0f7ce3 !important;
}

/* Column widths */
.table td:nth-child(1),
.table th:nth-child(1) {
  width: 14%;
}

.table td:nth-child(2),
.table th:nth-child(2) {
  width: 9%;
  /* Adjusted width for company column */
}

.table td:nth-child(3),
.table th:nth-child(3){
  width: 14%;
  /* Adjusted width for website column */
}

.table td:nth-child(4),
.table th:nth-child(4) {
  width: 12%;
}

.table td:nth-child(5),
.table th:nth-child(5) {
  width: 8%;
}

.table td:nth-child(6),
.table th:nth-child(6) {
  width: 5%;
}

.table td:nth-child(7),
.table th:nth-child(7) {
  width: 5%;
}

.table td:nth-child(8),
.table th:nth-child(8) {
  width: 7%;
}

.table td:nth-child(9),
.table th:nth-child(9) {
  width: 5%;
  /* Adjusted width for actions column */
}


/* Pagination Styles */
.pagination {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  color: #fff;
  gap:0.3rem;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li a {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

.pagination li a:hover,
.pagination .pagination__link--active a,
.pagination .pagination__link--active a:hover {
  background-color: #9145B6;
  color: #fff;
}

.pagination li.disabled a {
  color: #aaa;
  cursor: not-allowed;
  background-color: #f5f5f5;
}

/* Action Button Styles */
.actionIcon,
.actionIcon2 {
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.actionIcon2 {
  color: #ef3f5f;
  margin-left: 0.4rem;
}

.actionIcon:hover,
.actionIcon2:hover {
  scale: 1.03;
  filter: brightness(0.7);
}

/* Type Button Styles */
.typeButton {
  width: 7rem;
  padding: 7px 10px;
  border-radius: 0.7rem;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.typejob {
  background: rgb(134, 95, 193);
  background: linear-gradient(90deg, rgba(134, 95, 193, 1) 15%, rgba(93, 52, 238, 1) 100%);
}

.typehackathon {
  background: rgb(69, 196, 243);
  background: linear-gradient(90deg, rgba(69, 196, 243, 1) 15%, rgba(44, 104, 246, 1) 100%);
}

.typeinternship {
  background: rgb(66, 204, 188);
  background: linear-gradient(90deg, rgba(66, 204, 188, 1) 10%, rgba(36, 178, 201, 1) 100%);
}

.typecontest {
  background: rgb(254, 178, 48);
  background: linear-gradient(90deg, rgba(254, 178, 48, 1) 10%, rgba(248, 138, 68, 1) 100%);
}

/* Other Styles */
.newTabURL a {
  text-decoration: none;
  color: #184275;
}