.userStatsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.userStatsHeading {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #9145B6;
    /* background: linear-gradient(90deg, rgba(233, 76, 137, 1) 35%, rgba(150, 90, 182, 1) 100%); */
    ;
    padding: 0.3rem 1rem;
    border: 1px solid #9145B6;
    border-radius: 0.7rem;
    box-shadow: 4px 8px 20px -5px rgba(0, 0, 0, 0.2);
}

.userStatsCardSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.4rem;
    width: 70%;
}

.userStatsCard {
    min-width: 8rem;
    width: 20%;
    height: 6.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #313131;
    color: #fff;
    border-radius: 1rem;
    position: relative;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.75);
}

.userStatsCard:hover {
    transform: scale(1.03);
}

.userStatsCardSection .userStatsCard{
    background: #313131;
    background: linear-gradient(270deg, #444 2%, #313131 80%);
}

/* Second card gradient
.userStatsCardSection .userStatsCard:nth-child(2) {
    background: rgb(69, 196, 243);
    background: linear-gradient(90deg, rgba(69, 196, 243, 1) 15%, rgba(44, 104, 246, 1) 100%);
}

/* Third card gradient */
/* .userStatsCardSection .userStatsCard:nth-child(3) {
    background: rgb(66, 204, 188);
    background: linear-gradient(90deg, rgba(66, 204, 188, 1) 10%, rgba(36, 178, 201, 1) 100%);
} */

/* Fourth card gradient */
/* .userStatsCardSection .userStatsCard:nth-child(4) {
    background: rgb(254, 178, 48);
    background: linear-gradient(90deg, rgba(254, 178, 48, 1) 10%, rgba(248, 138, 68, 1) 100%);
} */

.userCardTitle {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #ffffffb3;
    font-size: 0.8rem;
    font-weight: 500;
}

.userCardValue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 1.7rem;
    font-weight: 600;
}

.active {
    background-color: #ef3f5f;
}