.company-cell__website {
    font-size: 0.8rem;
    color: #999;
    transition: color 250ms ease-in-out;
}

.company-cell__website:hover {
    color: #bbb;
}

.ag-row {
    transition: background-color 300ms ease-in-out;
}

.ag-row:hover {
    background-color: #404040;
}