.dashboardContainer {
    width: 100%;
    height: 100%;
    background-color: #101010;
    color: #fff;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.accountButton {
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.3rem 0.8rem;
    border: 2px solid #aaa;
    transition: all 300ms ease-in-out;
}

.accountButton:hover {
    background-color: #fafafa;
    color: #000;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #101010;
    border: 1px solid #363636;
    border-radius: 4px;
    min-width: 120px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown ul li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown ul li:hover {
    background: #5641f4;
}

.statsSection {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 16px;
    padding: 16px;
    max-width: 1100px;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.card {
    background: linear-gradient(to top, #1a1a1a, #1f1f1f);
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.cardHeader {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    color: #888;
}

.cardIcon {
    font-size: 1rem;
    margin-right: 0.2rem;
}

.cardLabel {
    font-size: 0.8rem;
    font-weight: 500;
}

.cardValueWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 100%;
}

.cardValue {
    font-size: 2rem;
    margin: 0;
}

.chart {
    background: linear-gradient(to top, #1a1a1a, #1f1f1f);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 250px;
}

.customTooltip {
    font-size: 0.8rem;
}

.barContainer {
    width: 100%;
    height: 100%;
}

.tableSection {
    width: 90%;
    height: 100%;
    background: linear-gradient(to top, #1a1a1a, #1f1f1f);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dataHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.dataControls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchBox {
    display: flex;
    align-items: center;
    background-color: #363636;
    border-radius: 8px;
    padding: 0.3rem 0.5rem;
}

.searchIcon {
    color: #888;
    margin-right: 0.5rem;
}

.searchInput {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 0.8rem;
}

.filterBox {
    position: relative;
    display: inline-block;
}

.filterSelect {
    background-color: #363636;
    border: 1px solid #343434;
    color: #fff;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    padding-right: 1rem;
    font-size: 1rem;
    outline: none;
    width: 120px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filterIcon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
    font-size: 1.2rem;
}

.table {
    width: 100%;
    height: 100%;
}